<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hoiwanlouis.s10e04_robsimpleservice" >

    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name="com.example.hoiwanlouis.s10e04_robsimpleservice.SimpleServiceActivity"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.hoiwanlouis.s10e04_robsimpleservice.ServiceControlActivity" />

        <service
            android:name="com.example.hoiwanlouis.s10e04_robsimpleservice.GPXService"
            android:enabled="true"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="com.example.hoiwanlouis.GPXService.SERVICE" />
                <action android:name="com.example.hoiwanlouis.s10e04_robsimpleservice.IRemoteInterface" />
            </intent-filter>
        </service>
    </application>

</manifest>
